<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>DreamShop</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

        .logo {
            font-family: 'Caveat', cursive;
        }

    </style>
</head>


<body class="bg-slate-100 w-screen h-screen relative">
    <header>
        <div class="flex flex-row justify-center items-center h-36">
            <p class="logo text-6xl text-slate-800 flex-none ml-11 mt-10">DreamShop</p>
        </div>
    </header>

    <div class="flex-row flow-root">
        <div class="float-left max-w-sm ml-6 rounded overflow-hidden shadow-xl">
                <div class="max-w w-full px-6 py-4">
                <div class="text-[18px] mb-2 ">Product SKU : {{ productSKU }}</div>
                <div class="text-[18px] mb-2 ">Total Quantity Sold : {{ productQty }}</div>
                </div>
            </div>

            <div class="float-right max-w-sm mr-24 mt-10 rounded overflow-hidden shadow-xl">
                <div class="w-full px-6 py-0 flex flex-row items-center">
                    <img src="{{url_for('static', filename='people.png')}}" width="35px">
                    <div class="text-[18px] ml-5">List of Potential Customer : </div>
                </div>
                <div class="w-full px-6 py-4 items-center">
                    <img src="{{url_for('static', filename='potentialCustomerList.png')}}" width="100%">
                </div>
            </div>   
    </div>
</body>
</html>